.become-customer {
  background: $color-black-2;
  color: white;
  padding-top: 54px;
  padding-bottom: 72px;

  h3, ul li {
    color: white;
  }

  h3 {
    margin-bottom: 24px;
  }

  ul {
    display: flex;
    margin-bottom: 40px;
    padding-left: 0;
    @include breakpoint(phone) {
      flex-direction: column;
    }
  }

  ul li {
    font-size: 14px;
    line-height: 20px;
    margin-right: 54px;
    display: inline-flex;
    align-items: baseline;
    @include breakpoint(phone) {
      margin-right: 0;
    }
  }

  ul li + li {
    @include breakpoint(phone) {
      margin-top: 20px;
    }
  }

  ul li::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background: yellow;
    position: relative;
    margin-right: 8px;
    flex-shrink: 0;
    top: -2px;
    left: 0;
  }

  ul li::marker {
    display: inline;
    background: yellow;
  }

  .become-customer__delimeter {
    margin: 48px 0;
    height: 1px;
    background-color: $color-gray-11;
  }

  .become-customer__block {
    display: flex;
    @include breakpoint(phone) {
      flex-direction: column;
    }
  }

  .become-customer__block-img-wrap {
    flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    @include breakpoint(phone) {
      flex-basis: auto;
      margin-bottom: 20px;
    }
  }

  .become-customer__block-main-wrap {
    padding-top: 4px;
  }

  .become-customer__button-wrap {
    min-width: 360px;
    display: inline-block;
    @include breakpoint(phone) {
      min-width: auto;
      width: 100%;
    }
  }
}
