.c-blog-article {
  padding-top: 60px;
  position: relative;
  @include breakpoint(tablet) {
    padding-top: 30px;
  }
  @include breakpoint(phone) {
    padding-top: 20px;
  }

  .c-blog-article__category {
    background-color: $color-gray-5;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    font-size: 0;
    padding: 14px 50px 14px 20px; 
    margin-bottom: 20px;
    position: relative;
    @include breakpoint(tablet) {
      margin-bottom: 10px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0px;
      height: 100%;
      background-color: transparent;
      top: 0;
      box-sizing: border-box;
      border: solid 25px white;
      right: 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }
  }


  .c-blog-article__title {
    margin-bottom: 60px;
    @include breakpoint(tablet) {
      margin-bottom: 30px;
      padding-right: 120px;
    }
    @include breakpoint(phone) {
      margin-bottom: 16px;
      padding-right: 0;
    }
  }

  .c-blog-article__big-picture {
    position: relative;
    height: 460px;
    z-index: 0;
    font-size: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    @include breakpoint(tablet) {
      height: 380px;
    }
    @include breakpoint(phone) {
      height: 220px;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      flex-grow: 1;
      object-fit: cover;
      object-position: center center;
    }
  }

  .c-blog-article__big-picture + .c-blog-article__body {
    margin-top: -150px;
    @include breakpoint(tablet) {
      margin-top: -180px;
    }
    @include breakpoint(phone) {
      margin-top: -50px;
    }
  }

  
  .c-blog-article__body__container {
    padding: 31px 40px 0px 40px;
    border-radius: 4px 4px 0 0;
    background-color: $color-white-1;
    min-height: 300px;
    @include breakpoint(tablet) {
      padding: 22px 20px 0px 20px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .c-blog-article__body {
    position: relative;
    z-index: 10;
    @include breakpoint(phone) {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
      margin-top: 44px;
      padding-right: 45px;
      @include breakpoint(phone) {
        margin-top: 20px;
        padding-right: 0;
      }
    }

    p {
      margin: 20px 0;
      padding-right: 45px;
      @include breakpoint(tablet) {
        padding-right: 0;
      }
    }

    ol li + li {
      margin-top: 20px
    }

    img {
      max-width: 100%;
    }

    figure {
      font-size: 0;
    }

    figure.--full-width {
      margin: 30px -40px 30px -40px;
      overflow: hidden;
      float: none;
      @include breakpoint(tablet) {
        margin: 20px -20px 20px -20px;
      }
    }

    figure.--full-width img {
      width: 100%;
    }

    figure.--float-right {
      float: right;
      padding-left: 40px;
      width: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      padding-top: 8px;
      @include breakpoint(tablet) {
        width: 300px;
        padding-left: 20px;
        padding-top: 10px;
      }
      @include breakpoint(phone) {
        width: 100%;
        padding: 0;
      }
    }

    figure.--float-right img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    blockquote {
      position: relative;
      margin: 100px 0 100px 0;
      padding: 0 144px 0 240px;
      clear: both;
      @include breakpoint(tablet) {
        padding: 0;
        margin: 154px 0 80px 0;
      }
      @include breakpoint(phone) {
        margin: 80px 0 80px 0;
      }
      
    } 

    blockquote::before {
      content: '';
      display: block;
      position: absolute;
      width: 76px;
      height: 54px;
      background-image: url('/images/quote.svg');
      margin-left: -106px;
      background-size: contain;
      @include breakpoint(tablet) {
        margin-left: 306px;
        top: -74px;
      }
      @include breakpoint(phone) {
        margin-left: 0;
        width: 62px;
        height: 44px;
        position: static;
        margin-left: auto;
        margin-right: auto;
      }
    }

    blockquote p.__text {
      font-size: 24px;
      line-height: 1.5;
      color: $color-black-2; 
      @include breakpoint(tablet) {
        padding-right: 0;
      }
      @include breakpoint(phone) {
        font-size: 16px;
        line-height: 2.13;
      }
    }

  }

  .c-blog-article__body__container > *:first-child {
    margin-top: 0;
  }

  .c-blog-article__tags {
    margin: 40px 0 20px 0;
    @include breakpoint(tablet) {
      margin: 30px 0 10px 0;
    }
  }

  .c-blog-article__tags__container {
    padding: 0 40px 0px 40px;
    @include breakpoint(tablet) {
      padding: 0 20px;
    }
    @include breakpoint(phone) {
      padding: 0 30px;
    }
  }

  .c-blog-article__tags .c-tag {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .c-blog-article__nearby-articles {
    margin: 60px 0 100px 0;
    @include breakpoint(tablet) {
      margin: 20px 0 40px 0;
    }
  }

  .c-blog-article__nearby-articles__container {
    padding: 0px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(tablet) {
      padding: 0px 20px 0 20px;
    }
    @include breakpoint(phone) {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .c-card.c-card--prev-article {
      @include breakpoint(phone) {
        position: relative;
        left: -20px;
        order: 1;
      }

    }

    .c-card.c-card--next-article {
      @include breakpoint(phone) {
        position: relative;
        right: -20px;
        order: 0;
        margin-bottom: 20px;
      }
    }
  }

  .c-blog-article__soc-share {
    
  }

}