.c-blog-post {
  padding-top: 55px;
  position: relative;
  margin: 0 auto;
  @include breakpoint(tablet) {
    padding-top: 40px;
  }
  @include breakpoint(phone) {
    padding: 30px 0 0 0;
  }

  .c-blog-post__category {
    margin-bottom: 50px;
    font-family: $font-2;
    font-size: 18px;
    color: $color-blue-5;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    @include breakpoint(tablet) {
      margin-bottom: 40px;
      font-size: 16px;
      letter-spacing: 1.14px;
    }
    @include breakpoint(phone) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 1px;
    }
  }

  .c-blog-post__title {
    margin-bottom: 30px;
    font-family: $font-1;
    @include breakpoint(tablet) {
      margin-bottom: 25px;
    }
    @include breakpoint(phone) {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }

  .c-blog-post__big-picture {
    position: relative;
    height: 400px;
    z-index: 0;
    font-size: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    @include breakpoint(tablet) {
      margin-bottom: 45px;
    }
    @include breakpoint(phone) {
      height: 180px;
      margin-bottom: 30px;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      flex-grow: 1;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .c-blog-post__body__container {
    background-color: $color-white-1;
    min-height: 300px;  

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .c-blog-post__body {
    position: relative;
    z-index: 10;
    
    h2, h3, h4, h5, h6 {
      margin-bottom: 30px;
      margin-top: 50px;
      padding-right: 45px;
      @include breakpoint(tablet) {
        padding-right: 100px;
        margin-bottom: 20px;
      }
      @include breakpoint(phone) {
        margin-top: 40px;
        padding-right: 0;
      }
    }

    p, ul, ol {
      margin-bottom: 40px;
      @include breakpoint(tablet) {
        margin-bottom: 30px;
      }
    }

    p img {
      @include breakpoint(tablet) {
        margin-top: 10px;
      }
      @include breakpoint(phone) {
        margin-top: 0;
      }
    }

    ol li + li, ul li + li {
      margin-top: 20px
    }

    p + ul, p + ol {
      margin-top: -20px;
      @include breakpoint(tablet) {
        margin-top: -10px;
      }
    }

    img {
      max-width: 100%;
    }

    figure {
      font-size: 0;
    }

    figure.--full-width {
      margin: 30px -40px 30px -40px;
      overflow: hidden;
      float: none;
      @include breakpoint(tablet) {
        margin: 20px -20px 20px -20px;
      }
    }

    figure.--full-width img {
      width: 100%;
    }

    figure.--float-right {
      float: right;
      padding-left: 40px;
      width: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      padding-top: 8px;
      @include breakpoint(tablet) {
        width: 300px;
        padding-left: 20px;
        padding-top: 10px;
      }
      @include breakpoint(phone) {
        width: 100%;
        padding: 0;
      }
    }

    figure.--float-right img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    blockquote {
      margin-bottom: 40px;
      border: 2px solid $color-gray-9;
      border-radius: 4px;
      padding: 40px 57px;
      @include breakpoint(tablet) {
        margin-top: 40px;
        padding: 30px 30px;
      }
      @include breakpoint(phone) {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 20px;
      }
    } 
    
    blockquote p {
      margin: 0;
      padding: 0;
      line-height: 1.4;
      font-size: 32px;
      font-style: italic;
      @include breakpoint(tablet) {
        font-size: 26px;
        line-height: 1.5;
      }
      @include breakpoint(phone) {
        font-size: 20px;
      }
    }
  }

  .c-blog-post__body__container > *:first-child {
    margin-top: 0;
  }

  .c-blog-post__tags {
    margin: 50px 0 60px 0;
    @include breakpoint(tablet) {
      margin: 40px 0 20px 0;
    }
    @include breakpoint(phone) {
      margin: 25px 0 15px 0;
    }
  }

  .c-blog-post__tags__container {
    
  }

  .c-blog-post__tags .c-tag {
    margin-right: 40px;
    margin-bottom: 20px;
    @include breakpoint(tablet) {
      margin-right: 25px;
    }
    @include breakpoint(phone) {
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }

  .c-blog-post__related-articles {
    padding: 60px 0 90px 0;
    background-color: $color-gray-11;
    @include breakpoint(tablet) {
      padding: 40px 0 82px 0;
    }
    @include breakpoint(phone) {
      padding: 30px 0 74px 0;
    }
  }
  
  .c-blog-post__related-articles-title {
    margin-bottom: 40px;
    @include breakpoint(phone) {
      margin-bottom: 20px;
      line-height: 36px;
    }
  }
}
