.c-blog-preview {
  background-color: $color-gray-11;
}

.c-blog-preview {
  padding-top: 72px;
  padding-bottom: 80px;
  @include breakpoint(tablet) {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  @include breakpoint(phone) {
    padding-top: 40px;
  }

  .c-pagination {
    margin-top: 61px;
    @include breakpoint(tablet) {
      margin-top: 41px;
    }
  }
}

.c-blog-preview.c-blog-preview--mobile {
  display: none;
  @include breakpoint(phone) {
    display: block;
  }
}
