.c-card {
  height: 360px;
  position: relative;
  width: 360px;
  border-radius: 6px;
  overflow: hidden;
  background-color: $color-white-1;
  font-family: $font-2;
  @include breakpoint(tablet) {
    width: 220px;
    height: 277px;
  }
  @include breakpoint(phone) {
    width: 100%;
    max-width: 336px;
  }

  &:hover {
    border-color: yellow;
  }

  a:hover {
    text-decoration: none;
  }

  a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
    border: 1px solid transparent;
    overflow: hidden;
  }

  a:hover::after {
    border-color: $color-blue-1;;
  }

  .c-card__image {
    height: 180px;
    overflow: hidden;
    background-color: #d3d6d7;
    @include breakpoint(tablet) {
      height: 110px;
    }
    @include breakpoint(phone) {
      left: -10px;
      right: -10px;
    }
  }

  .c-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .c-card__text {
    background-color: $color-white-1;
    padding: 24px 21px 0 24px;
    @include breakpoint(phone) {
      left: 0px;
      right: 0px;
    }
  }

  .c-card__text__category {
    font-size: 14px;
    color: $color-blue-5;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    position: absolute;
    text-transform: uppercase;
    bottom: 24px;
    @include breakpoint(tablet) {
      bottom: 20px;
      font-size: 12px;
      letter-spacing: 0.86px;
    }
  }

  .c-card__text__excerpt {
    display: none;
    font-size: 18px;
    color: $color-gray-8;
    line-height: 30px;
    overflow: hidden;
  }

  .c-card__text__title {
    font-weight: 700;
    line-height: 32px;
    color: $color-black-2;
    font-size: 24px;
    max-height: 96px;
    overflow: hidden;
    @include breakpoint(tablet) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .c-card__text__date {
    line-height: 24px;
    color: $color-gray-8;
    font-size: 18px;
    text-transform: lowercase;
  }
}

.c-card.c-card--large {
  width: 100%;
  @include breakpoint(tablet) {
    height: 220px;
  }

  .c-card__image {
    width: 360px;
    height: 100%;
    float: left;
    border-radius: 0 6px 6px 0;
    @include breakpoint(tablet) {
      width: 220px;
    }
  }

  .c-card__text {
    float: left;
    width: calc(100% - 360px);
    padding: 40px 70px 0 55px;
    @include breakpoint(tablet) {
      padding: 35px 11px 0 52px;
    }
  }

  .c-card__text__title {
    height: auto;
    font-size: 32px;
    line-height: 44px;
    max-height: 88px;
    margin-bottom: 17px;
    @include breakpoint(tablet) {
      font-size: 26px;
      line-height: 36px;
      max-height: 72px;
    }
  }

  .c-card__text__excerpt {
    display: block;
    max-height: 120px;
    @include breakpoint(tablet) {
      display: none;
    }
  }

  .c-card__text__category {
    bottom: 45px;
    @include breakpoint(tablet) {
      bottom: 35px;
    }
  }
}

.c-card.c-card--double {
  width: 750px;
  @include breakpoint(tablet) {
    width: 470px;
  }

  .c-card__image {
    width: 360px;
    height: 100%;
    float: left;
    border-radius: 0 6px 6px 0;
    @include breakpoint(tablet) {
      width: 220px;
    }
  }

  .c-card__text {
    float: left;
    width: calc(100% - 360px);
    padding: 34px 38px 0 54px;
    @include breakpoint(tablet) {
      padding: 44px 46px 0 45px;
      width: calc(100% - 220px);
    }
  }

  .c-card__text__title {
    margin-bottom: 17px;
    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  .c-card__text__excerpt {
    display: block;
    max-height: 150px;
    @include breakpoint(tablet) {
      display: none;
    }
  }
}
