.c-header {
  background-color: $color-white-1;
  border-bottom: 1px solid $color-gray-9;
  position: relative;
  z-index: 20;
  height: 112px;
  @include breakpoint(tablet) {
    overflow: visible;
    height: 102px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  @include breakpoint(phone) {
    height: 80px;
  }

  &.--is-dropdown-menu-open {
    height: 100%;
  }

  .c-header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-white-1;
    @include breakpoint(tablet) {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
    }
    @include breakpoint(phone) {
      height: 78px;
      padding-left: 20px;
      padding-right: 20px;
      max-width: none;
      box-sizing: border-box;
    }
  }

  .c-header__container.c-header__container--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    @include breakpoint(phone) {
      display: none;
    }
  }

  .c-header__container.c-header__container--phone {
    display: none;
    z-index: 1200;
    flex-direction: row;
    align-items: center;
    position: relative;
    @include breakpoint(phone) {
      display: flex;
    }
  }

  .c-header__logo {
    // margin-top: 32px;
    // @include breakpoint(tablet) {
    //   margin-top: 24px;
    // }
    // @include breakpoint(phone) {
    //   margin-top: 23px;
    // }
  }

  .c-header__logo img {
    width: 100%;
  }

  .c-header__logo__container {
    @include breakpoint(tablet) {
      display: block;
      width: 73px;
      height: 40px;
    }
  }

  .c-header__logo__part-1 {
    font-size: 0;
    width: 73px;
    height: 56px;
    @include breakpoint(tablet) {
      width: 55px;
      height: 42px;
    }
    @include breakpoint(phone) {
      width: 42px;
      height: 32px;
    }
  }

  .c-header__logo__part-2 {
    font-size: 0;
    margin-left: 16px;
    width: 222px;
    height: 23px;
  }

  .c-subscribe {
    margin-top: 46px;
    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }
  
  .c-search {
    width: 336px;
    @include breakpoint(tablet) {
      display: block;
      width: 220px;
    }

    // .c-search__close {
    //   @include breakpoint(tablet) {
    //     display: none;
    //   }
    // }
  }

  .c-header__burger {
    background-image: url('/images/burger-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 28px;
    height: 22px;
  }

  .c-header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      @include breakpoint(phone) {
        flex-direction: column;
      }
    }

    ul li {
      font-size: 0;
      line-height: 0;
      margin-right: 50px;
      @include breakpoint(tablet) {
        margin-right: 30px;
        height: 24px;
      }
      @include breakpoint(phone) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    ul li::before {
      display: none;
    }

    ul li a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.28;
      font-family: $font-2;
      color: $color-gray-8;
      @include breakpoint(tablet) {
        font-size: 16px;
        line-height: 24px;
      }
      @include breakpoint(phone) {
        font-size: 20px;
        line-height: 27px;
      }
    }

    ul li a:hover {
      text-decoration: underline;
    }

    ul li.--search-icon {
      margin-right: 0;
    }

    ul li.--search-icon a {
      font-size: 0;
    }

    ul li.--search-icon img {
      width: 24px;
      height: 24px;
    }
  }

  .c-header__dropdown-menu {
    width: 100%;
    background-color: $color-white-1;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .c-search {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .c-header__dropdown-menu.--is-active {
    @include breakpoint(tablet) {
      display: block;
    }
  }

  // .c-header__dropdown-menu .c-subscribe.c-subscribe--mobile {
  //   margin: 0 -20px;
    
  //   .c-subscribe__title {
  //     font-size: 20px;
  //     font-family: $font-1;
  //     line-height: 1.85;
  //     color: $color-black-2;
  //     margin-bottom: 10px;
  //     line-height: 1.85;
  //     @include breakpoint(phone) {
  //       font-size: 16px;
  //       line-height: 22px;
  //       font-weight: 600;
  //     }
  //   }
    
  //   .c-subscribe__wrapper {
  //     padding: 30px 20px;
  //     background-color: $color-gray-5;
  //     border-radius: 0;
  //     box-shadow: none;
  //     @include breakpoint(phone) {
  //       padding: 20px 20px;
  //       margin-left: 0;
  //       margin-right: 0;
  //       max-width: none;
  //     }
  //   }

  //   .c-subscribe__message-is-sent {
  //     padding-top: 42px;
  //     padding-bottom: 0px;
  //     margin-bottom: -5px;
  //     @include breakpoint(phone) {
  //       padding-top: 34px;
  //       margin-bottom: 0;
  //       padding-bottom: 2px;
  //     }
  //   }

  //   .c-subscribe__message-is-sent::before {
  //     top: -7px;
  //     width: 100%;
  //     height: 41px;
  //     @include breakpoint(phone) {
  //       top: 2px;
  //       height: 24px;
  //     }
  //   }

  //   .c-subscribe__message-is-sent p {
  //     @include breakpoint(phone) {
  //       font-size: 16px;
  //       line-height: 23px;
  //       width: 233px;
  //     }
  //   }
  // }

  .c-header__dropdown-menu-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bm-menu-wrap {
    display: none;
    @include breakpoint(phone) {
      display: block;
    }
  }

  .bm-burger-button {
    display: none;
  }

  .bm-cross-button {
    display: none;
  }

  .bm-menu-wrap {
    height: auto!important;
    // padding-top: 78px;
  }
}
