.c-load-more-btn {
  font-size: 24px;
  line-height: 24px;
  padding: 21px 0 17px;
  font-weight: bold;
  font-family: $font-2;
  color: $color-blue-1;
  border: 2px solid $color-blue-1;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  @include breakpoint(phone) {
    padding: 15px 0 15px;
    font-size: 20px;
    line-height: 20px;
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
