.c-pagination {
  padding: 0;
  display: block;
  font-family: $font-2;
  font-size: 0;

  &::after {
    display: block;
    clear: both;
    content: '';
  }

  li {
    display: block;
    float: left;
    font-size: 0;
    line-height: 0;
    min-width: 28px;
  }

  li::before {
    display: none;
  }

  a {
    display: block;
    font-size: 18px;
    color: $color-gray-8;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 6px;
    max-height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    width: 100%;
    @include breakpoint(tablet) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  li.--disabled a {
    color: $color-gray-2;
    cursor: default;
  }

  li.--active a {
    color: $color-blue-1;
    border-bottom: 2px solid $color-blue-1;
  }

  li.previous a, li.next a {
    position: relative;
    top: 3px;
    min-width: auto;
    width: 10px;
    height: 19px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
  }

  li + li {
    margin-left: 6px;
  }

  li.previous {
    min-width: auto;
    margin-right: 18px;
  }

  li.previous a {
    background-image: url('../../public/images/pagination_left_arrow.svg');
  }

  li.next {
    min-width: auto;
  }

  li.next a {
    background-image: url('../../public/images/pagination_right_arrow.svg');
    margin-left: 24px;
  }

  li.break {
    font-size: 18px;
    line-height: 24px;
    color: $color-gray-8;
    padding-left: 9px;
    padding-right: 9px;
  }

  a.--elipsis {
    border-color: transparent;
  }
}
