.c-search {
  width: 100%;
  position: relative;

  .c-search__query-wrapper {
    
  }

  .c-search__query-wrapper input {
    font-family: $font-2;
    padding: 0 52px 0 15px;
    height: 52px;
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: $color-black-2;
    background-color: $color-gray-11;
    border-radius: 4px;
  }

  .c-search__submit-btn-wrapper {
    position: absolute;
    right: 14px;
    top: 14px;
    font-size: 0;
    overflow: hidden;
  }

  .c-search__submit-btn {
    background-color: transparent;
    border: none;
    font-size: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    outline: none;
    display: block;
    cursor: pointer;

    img {
      width: 100%;
    }

    img:nth-child(2) {
      display: none;
    }
  }

  .c-search__cross {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(/images/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 12px;
    right: 0;
    font-size: 0;
    cursor: pointer;
  }

  &.--is-focused {
    .c-search__submit-btn img:nth-child(1) {
      display: none;
    }
    .c-search__submit-btn img:nth-child(2) {
      display: block;
    }

    .c-search__query-wrapper input {
      border-bottom-color: $color-blue-1;
    }
  }

  &.--not-empty {
    .c-search__close {
      display: block;
    }
  }
}
