.c-search-result {
  padding-top: 66px;
  padding-bottom: 40px;
  min-height: 730px;
  background-color: $color-gray-11;
  @include breakpoint(tablet) {
    padding-top: 40px;
  }
  @include breakpoint(phone) {
    padding-top: 30px;
  }

  .c-search-result__title {
    margin-bottom: 61px;
    font-family: $font-1;
    @include breakpoint(tablet) {
      margin-bottom: 35px;
    }
    @include breakpoint(phone) {
      max-width: 336px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }

  .c-search-result__query {
    margin-bottom: 24px;
    font-family: $font-1;
    @include breakpoint(phone) {
      margin-bottom: 0;
      line-height: 1.7;
      max-width: 336px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }
  }

  .c-search-result__sorry {
    margin-top: -4px;
    @include breakpoint(phone) {
      line-height: 1.75;
      margin-top: 3px;
      max-width: 336px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
