.slick-slider {
  .slick-arrow {
    font-size: 0;
    width: 26px;
    height: 48px;
    position: absolute;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('/images/slider_left_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 150px; 
    outline: none;
  }

  .slick-slide {
    width: 360px;
    margin-right: 30px;
    @include breakpoint(tablet) {
      width: 220px;
    }
    @include breakpoint(phone) {
      margin-right: 0;
    }
  }

  .slick-list {
    height: 360px;
    @include breakpoint(tablet) {
      height: 277px;
    }
    @include breakpoint(phone) {
      height: 320px;
      width: 100%;
    }
  }

  .slick-track {
    min-width: 100%;
  }

  .slick-arrow.slick-prev  {
    left: -126px;
  }

  .slick-arrow.slick-next  {
    right: -126px;
    transform: rotateZ(180deg);
  }

  .slick-dots {
    position: absolute;
    list-style: none;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 0;
    margin-top: 40px;
    padding: 0;
    @include breakpoint(tablet) {
      margin-top: 30px;
    }
    @include breakpoint(phone) {
      margin-top: 25px;
    }
  }

  .slick-dots li {
    line-height: 0;
    display: inline-block;
    margin: 0 9px;
    @include breakpoint(phone) {
      margin: 0 5px;
    }
  }

  .slick-dots li::before {
    display: none;
  }

  .slick-dots li button {
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 14px;
    height: 14px;
    background-color: $color-gray-9;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    @include breakpoint(phone) {
      width: 11px;
      height: 11px;
    }
  }

  .slick-dots li.slick-active button {
    background-color: $color-blue-3;
  }

}
