.c-soc-share-wrapper {
  &.--desktop {
    position: absolute;
    left: -131px;
    top: 14px;
    bottom: 0;
  }

  // &.--mobile {
  //   display: none;
  //   position: static;
  //   height: auto!important;
  //   @include breakpoint(tablet) {
  //     display: block;
  //   }
  // }
}

.c-soc-share {
  position: sticky;
  width: 37px;
  z-index: 10;
  top: 70px;
  @include breakpoint(tablet) {
    width: 100%;
    bottom: 0;
    top: auto;
    margin: 40px 0;
    //position: static;
  }

  &.--desktop {
    @include breakpoint('tablet') {
      display: none;
    }
  }

  &.--mobile {
    display: none;
    @include breakpoint('tablet') {
      display: block;
    }
  }


  .c-soc-share__item {
    text-decoration: none;
    text-align: center;
    font-size: 0;
    border: none;
    cursor: pointer;
    @include breakpoint(tablet) {
      flex-grow: 1;
    }
  }

  .c-soc-share__item + .c-soc-share__item {
    margin-top: 18px;
  }

  .c-soc-share__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    @include breakpoint(tablet) {
      flex-direction: row;
    }
  }

  .c-soc-share__item-pic {
    width: 37px;
    height: 37px;
    @include breakpoint(tablet) {
      display: inline-block;
      width: 64px;
      height: 64px;
    }
  }
  
  .c-soc-share__item-pic img {
    width: 100%;
    height: 100%;  
  }

  .c-soc-share__item-counter {
    font-size: 9px;
    color: white;
    line-height: 12px;
    font-weight: bold;
    @include breakpoint(tablet) {
      display: none;
    }
  }
}
