.c-tag {
  display: inline-block;
  font-family: $font-2;
  font-size: 18px;
  font-weight: 400;
  color: $color-black-2;
  line-height: 40px;
  padding: 0 20px;
  background-color: $color-gray-5;
  border-radius: 4px;
  @include breakpoint(tablet) {
    font-size: 16px;
  }
  @include breakpoint(phone) {
    font-size: 14px;
  }
}

.c-tag:hover {
  text-decoration: none;
  background-color: $color-gray-6;
}
