@import '../abstracts';

$offsetShortcuts: (
    "mt": "margin-top",
    "mr": "margin-right",
    "mb": "margin-bottom",
    "ml": "margin-left",
    "mx": "margin-inline",
    "my": "margin-block",
    "m": "margin",
    "pt": "padding-top",
    "pr": "padding-right",
    "pb": "padding-bottom",
    "pl": "padding-left",
    "px": "padding-inline",
    "py": "padding-block",
    "p": "padding",
);

@mixin offsetFactory ($prop, $cn) {
    @for $i from 0 through 10 {
        $val: #{$i}rem;

        $offsets: (
            #{$cn}-#{$i}: ($prop: $val),
            #{$cn}#{'-0n'}#{$i}: ($prop: #{'0.'}$val),
            #{$cn}#{'-1n'}#{$i}: ($prop: #{'1.'}$val),
            #{$cn}#{'-2n'}#{$i}: ($prop: #{'2.'}$val),
            #{$cn}-auto: ($prop: auto),
            #{$cn}-perc-#{$i}#{'0'}: ($prop: #{$i}#{'0%'})
        );

        @each $class, $prop in $offsets {
            @include cn($class, $prop);
        }   
    }
}

@include offsetFactory(gap, gap);

@each $shortcut, $fullname in $offsetShortcuts {
    @include offsetFactory($fullname, $shortcut)
}