@import '../abstracts';

@for $i from 1 through 8 {
    .weight-#{$i}00 {
        font-weight: #{$i}#{'00'};
    }

    @include bp(s) {
        .s-weight-#{$i}00 {
            font-weight: #{$i}#{'00'} !important;
        }
    }
    @include bp(m) {
        .m-weight-#{$i}00 {
            font-weight: #{$i}#{'00'} !important;
        }
    }
    @include bp(l) {
        .l-weight-#{$i}00 {
            font-weight: #{$i}#{'00'} !important;
        }
    }

    .line-h-#{$i} {
        line-height: #{$i};
    }
}