@import '../abstracts';

// Height width factory
@mixin hwFactory($cn, $prop, $decimal: "") {
    @for $i from 1 through 10 {
        $c: #{$cn}-#{$i}0;
        $val: #{$i}0#{'%'};

        @if $decimal != "" {
            $c: #{$cn}-#{$i}#{$decimal}0;
            $val: #{$i}#{$decimal}#{'0px'};
        }

        $css: (
            $c: ($prop: $val)
        );

        @each $name, $rule in $css {
            @include cn($name, $rule);
            
            $css-to-inherit: (
                #{'pass-down'}-#{$name}#{' >*'}: $rule
            );
        
            @each $_name, $_rule in $css-to-inherit {
                @include cn($_name, $_rule)
            }
        }
    }   
}
// TODO
@include hwFactory(w, width);
@include hwFactory(h, height);
@include hwFactory(wdth, width, 0);
@include hwFactory(wdth, width, 5);
@include hwFactory(hght, height, 0);
@include hwFactory(hght, height, 5);
@include hwFactory(max-wdth, max-width, 0);
@include hwFactory(max-wdth, max-width, 5);
@include hwFactory(max-hght, max-height, 0);
@include hwFactory(max-hght, max-height, 5);
@include hwFactory(min-wdth, min-width, 0);
@include hwFactory(min-wdth, min-width, 5);
@include hwFactory(min-hght, min-height, 0);
@include hwFactory(min-hght, min-height, 5);

.hght-50 {
    height: 50px;
}

.w-auto {
    width: auto;
}

@for $i from 1 through 8 {
    $width: percentage(1 / $i);
    $wc: col-#{$i};

    $css: (
        $wc: ("width": $width)
    );

    @each $name, $rule in $css {
        @include cn($name, $rule)
    }
}