html,
body {
  height: 100%;
  //   overflow-x: hidden;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html:focus-within {
  scroll-behavior: smooth;
}
