@import './colors';

@function map-deep-get($map, $keys...) {
  $scope: $map; $i: 1;
  @while (type-of($scope) == map) and ($i <= length($keys)) {
     $scope: map-get($scope, nth($keys, $i));
     $i: $i + 1;
  }
  @return $scope;
}

@function set-contrast-text($bg) {
    @if lightness($bg) > 30 {
      @return map-deep-get($colors, "primary", "400");
    } @else {
      @return map-deep-get($colors, "base", "100");
    }
}

@function set-bg-on-hover($bg) {
  @if lightness($bg) > 80 {
    @return darken($bg, 5%);
  } @else {
    @return lighten($bg, 10%);
  }
}