@import "../abstracts";

$common: (
  "container": (
    "max-width": 78.8rem,
    "margin-inline": auto,
    "padding-inline": 1.5rem,
    "overflow-x": hidden,
  ),
  "header-container": (
    "max-width": 78.8rem,
    "margin-inline": auto,
    "padding-inline": 1.5rem,
  ),
  "f-primary": (
    "font-family": $primary-f-family,
  ),
  "f-secondary": (
    "font-family": $secondary-f-family,
  ),
  "font-normal": (
    "font-weight": 500,
  ),
  "size-xs": (
    "padding": 0.5rem 0.75rem,
    "height": 2.75rem,
  ),
  "size-s": (
    "padding": 12px 16px,
    "height": 3.5rem,
  ),
  "size-m": (
    "padding": 0.875rem 4.375rem,
  ),
  "shadow-1": (
    "box-shadow": 0px 8px 40px -20px rgba(0, 0, 0, 0.1),
  ),
  "shadow-2": (
    "box-shadow": 0px 40px 80px -40px rgba(0, 0, 0, 0.1),
  ),
  "relative": (
    "position": relative,
  ),
  "absolute": (
    "position": absolute,
  ),
  "left-0": (
    "left": 0,
  ),
  "top-0": (
    "top": 0,
  ),
  "bottom-0": (
    "bottom": 0,
  ),
  "full-h": (
    "height": 100%,
  ),
  "full-w": (
    "width": 100%,
  ),
  "fullsize": (
    "height": 100%,
    "width": 100%,
  ),
  "fullscreen": (
    "height": 100vh,
    "width": 100vw,
  ),
  "screen-w": (
    "width": 100vw,
  ),
  "d-none": (
    "display": none,
  ),
  "d-block": (
    "display": block,
  ),
  "d-inline": (
    "display": inline,
  ),
);

@each $name, $rule in $common {
  @include cn($name, $rule);

  $css-to-inherit: (#{"pass-down"}-#{$name}#{" >*"}: $rule);

  @each $_name, $_rule in $css-to-inherit {
    @include cn($_name, $_rule);
  }
}

.container {
  &.px-0,
  .px-0 {
    padding-inline: 0 !important;
  }
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.inherit {
  &-clr {
    color: inherit;
  }
  &-size {
    height: inherit;
    width: inherit;
  }
}

.pass-down {
  &-clr * {
    color: inherit;
  }
  &-size * {
    height: inherit;
    width: inherit;
  }
}

.bg-transparent {
  background-color: transparent;
}

.border {
  &-0 {
    border: none;
    outline: none;
  }

  border: 1px solid map-deep-get($colors, "grey", "500");

  &-2 {
    border: 2px solid map-deep-get($colors, "grey", "500");
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.flow {
  h1 {
    margin-block: 40px 16px;

    &:has(+ p > img) {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 1.25rem;
  }

  // h1, h2,h3,h4 +p{
  //   margin-bottom: 0;
  // }

  h2 {
    margin-bottom: 16px;

    // &:not(:first-of-type) {
    margin-top: 40px;
    // }
  }

  h3 {
    margin-bottom: 16px;

    &:not(:first-of-type) {
      margin-top: 40px;

      @include bp(s) {
        margin-top: 36px;
      }
    }
  }

  img {
    margin-top: 1.3rem;
    max-height: 496px;
    width: 100%;
  }

  h2 + p img {
    margin-top: 0;
  }

  a {
    color: map-deep-get($colors, "primary", "200");
  }

  p {
    line-height: 32px;
  }
}

// Temporary workarounds till we introduce tailwind
.bg-img {
  background-image: url("../../public/images/bg-right.svg"),
    url("../../public/images/bg-left.svg");
  background-repeat: no-repeat;
  background-color: #f2f4f6;

  &.home-page-bg-position {
    background-position: right bottom, left top 150px;
  }

  &.category-page-bg-position {
    background-image: url("../../public/images/bg-left.svg");
    background-position: left top;
  }

  &.blog-post-bg-position {
    background-position: right bottom 750px, left top 150px;

    @include bp(m) {
      background-position: right bottom 650px, left top 150px;
    }
    @include bp(s) {
      background-position: right bottom, left -200px top 150px;
    }
  }

  .related-articles {
    background-image: url("../../public/images/related-articles-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom 10px right;
  }
}

.most-popular-bg {
  background-image: url("../../public/images/bg-most-popular.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.search-page-bg {
  background-image: url("../../public/images/bg-search.svg");
  background-repeat: no-repeat;
  background-position: bottom left;

  @include bp(not-desk) {
    background-image: url("../../public/images/search-bg-not-desk.svg");
    background-position: right;
  }

  .spinner-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.media {
  &:not(.text) {
    background-color: #d8dfe3;
    border-radius: 100%;

    &:hover {
      background-color: map-deep-get($colors, "primary", "200");
    }

    &.blue {
      background-color: map-deep-get($colors, "primary", "200");

      &:hover {
        background-color: #57c1f1;
      }
      &:focus {
        background-color: #049be0;
      }
    }
  }

  &.text:hover {
    color: map-deep-get($colors, "primary", "200");
  }
}

.txt-grey-200.hover:hover {
  color: #343240;
  transition: 0.7s all;
}

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 17vw;

  @include bp(m) {
    height: 180px;
  }

  @include bp(s) {
    height: 198px;
  }

  &.discover {
    background-image: url("../../public/images/discover.png");
    display: flex;
    align-items: center;
    padding-left: 19rem;

    @include bp(m) {
      background-image: url("../../public/images/discover-tablet.jpg");
      height: 180px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 4rem;
    }
    @include bp(s) {
      background-image: url("../../public/images/discover-phone.jpg");
      height: 198px;
      padding-left: 2rem;
    }
  }

  &.promote {
    background-image: url("../../public/images/promote.png");
    display: flex;
    align-items: center;
    padding-left: 37vw;

    @include bp(m) {
      height: 180px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 20rem;
    }

    @include bp(s) {
      background-image: url("../../public/images/promote-phone.jpg");
      padding-left: 2rem;
    }
  }

  &.boost {
    background-image: url("../../public/images/boost.png");
  }
  // Push inner content away from img content
  &.promote > div > div,
  &.boost > div > div {
    @include bp(l) {
      margin-left: 5rem;
    }
  }

  h2 {
    font-size: 32px;

    @include bp(m) {
      font-size: 24px;
    }
    @include bp(s) {
      font-size: 20px;
    }
  }

  span {
    @include bp(s) {
      font-size: 12px;
      margin-top: 4px;
    }
  }

  a {
    height: 56px;
    width: 287px;
    margin-top: 24px;

    @include bp(m) {
      width: 217px;
      height: 44px;
      margin-top: 20px;
      font-size: 14px;
    }
    @include bp(s) {
      width: 166px;
      height: 34px;
      margin-top: 20px;
      font-size: 12px;
    }
  }

  @include bp(m) {
    h2 {
      font-size: 24px;
    }

    span {
      font-size: 16px;
    }
  }
}

.mb-12px {
  margin-bottom: 12px;
}

.s-mt-20px {
  @include bp(s) {
    margin-top: 20px;
  }
}

.f-size-32px {
  @include bp(m) {
    font-size: 32px !important;
  }
}

.f-size-40px {
  @include bp(l) {
    font-size: 40px;
  }
}

.home-page-y-offset {
  margin-block: 48px 40px;

  @include bp(s) {
    margin-block: 20px;
  }
}

.load-btn {
  height: 84px;
  font-size: 20px !important;

  @include bp(s) {
    height: 44px;
    font-size: 14px;
  }
}

%font-sizes {
  font-size: 18px;

  @include bp(m) {
    font-size: 16px;
  }

  @include bp(s) {
    font-size: 14px;
  }
}

.footer-link {
  @extend %font-sizes;
  margin-bottom: 12px;

  @include bp(m) {
    margin-bottom: 6px;
  }

  @include bp(s) {
    margin-bottom: 6px;
  }

  & * {
    @extend %font-sizes;
  }
}

.footer-date {
  font-size: 17px;
  font-weight: 700;
  color: rgba(38, 50, 56, 0.5);
  margin-left: auto;

  @include bp(m) {
    font-size: 14.5px;
  }

  @include bp(s) {
    font-size: 12px;
  }
}

.toc {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: inherit;

    li a {
      color: map-deep-get($colors, "primary", "200");
    }
  }
}

.z {
  &-modal {
    z-index: 1500;
  }
  &-popup {
    z-index: 1499;
  }
  &-layout {
    z-index: 1498;
  }
}

.border-none {
  border: none !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal-input {
  outline: none;
  width: 100%;
  border: 1px solid #cdcdcd;
  background: 0 0;
  outline: none !important;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  min-width: 100%;
  max-width: 100%;
  padding: 10px 16px 12px;
  font-family: $primary-f-family;

  &:focus {
    border-color: map-deep-get($colors, "primary", "200");
  }

  &.error {
    border-color: #d10000;
  }
}

textarea.modal-input {
  min-height: 144px;
  min-width: 144px;
}

.error-msg {
  font-size: 14px;
  color: #d10000;
  font-style: italic;
  line-height: 1.43;
  margin-top: 5px;
  margin-bottom: 0;
}

.author-img {
  height: 266px;
  width: 266px;

  @include bp(m) {
    height: 216px;
    width: 216px;
  }

  @include bp(s) {
    height: 130px;
    width: 130px;
  }
}

.mt-2n2 {
  margin-top: 2.2rem;
}

.overflow-hidden::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.pt-2-p {
  p:first-child {
    padding-top: 2rem;
  }
}

code {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 28px 32px;
  margin-block: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  border: 2px solid #eaeaea;
  border-radius: 8px;
}

.post {
  ul {
    list-style: none; /* Remove default bullets */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li::before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: map-deep-get($colors, "primary", "200");
      font-weight: bold; /* If you want it to be bold */
      font-size: 1.3rem;
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-right: 0.5rem; /* Also needed for space (tweak if needed) */
    }
    + p {
      margin-top: 1.25rem;
    }
  }
}
