$text-primary-color: var(--Text-Primary, rgba(38, 50, 56, 1));
$text-secondary-color: var(--Text-Secondary, rgba(107, 112, 115, 1));
$primary-blue-color: rgba(3, 169, 244, 1);

$font-1: 'Poppins', 'sans-serif';
$font-2: 'Inter', 'sans-serif';
