@import '/src/styles/breakpoint.scss';

.categories {
  padding-top: 40px;
  padding-bottom: 70px;
  @include breakpoint('phone') {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .article-list-wrap {
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .categories-list-wrap {
    margin-top: 24px;
  }
  
  .pagination-wrap {
    margin-bottom: 64px;
  }

  .marketplace-banner-wrap {
    margin-bottom: 70px;
  }

  .banners-wrap {
    display: flex;
    column-gap: 20px;
    margin-bottom: 36px;

    > div {
      flex-grow: 1;
    }
  }
}
