.categories {
  .desktop-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
  }

  .item {
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 22px;
    background-color: white;
    box-shadow: 0px 16px 30px -16px rgba(26, 25, 34, 0.16);
    font-size: 16px;
    line-height: 24px;
    color: rgba(3, 169, 244, 1);
    font-weight: 600;
  }

  .item.active {
    border-color: rgba(4, 155, 224, 1);
  }

  .slider-wrap {
    width: 100%;
  }

  .slider-item {
    flex-basis: auto;
    width: auto;
  }
}
