$primary-color: #03a9f4;
$primary-color-accent: #26cdff;
$primary-accent-500: #00AAFF;
$primary-accent-950: #E6F7FF;
$blue-color: #4463bb;
$account-layout-bg-color: #f0f4f7;
$gray-text-color: #92989b;
$border-gray-color: #d8dfe3;
$border-gray-light-color: #f0f4f7;
$neutral-grey-0: #394449;
$neutral-grey-1: #373D47;
$neutral-grey-2: #E6E6E6;
$neutral-grey-3: #7A8185;
$neutral-grey-4: #F2F4F6;
$neutral-grey-5: #A8ACAE;
$neutral-grey-6: #EAEAEA;
$neutral-grey-7: #5B6367;

$accent-primary-500: #0AF;
$gold: #D9B543;
// $account-sidebar-container-width: 263px;

$status-ok-background-color: #e8f5e9;
$status-ok-text-color: #66bb6a;
$status-red-background-color: #fde5e5;
$status-red-text-color: #ef5350;
$status-gray-background-color: #eff0f0;
$status-gray-text-color: #92989b;
$status-gray-200-text-color: #f7f7f7;
$status-yellow-background-color: #fff9e5;
$status-yellow-text-color: #ffd54f;

$primary-color: #03a9f4;
$primary-accent-color: #57c1f1;
$primary-active-color: #049be0;
$primary-text-color: #263238;
$background-color: #f0f4f7;
$dark-grey-color: #92989b;
$light-grey-color: #d8dfe3;
$grey-color: #b4b7b9;
$primary-grey-blue: #F2F4F6;
$yellow-color: #ffd54f;
$dark-yellow-color: #E4A11B;
$red-color: #ef5350;
$green-color: #66bb6a;
$white-color: white;
$light-blue-color: #CBEFFF;
$dark-blue-color: #049BE0;

$font-1: 'Noto Sans', sans-serif;
$font-2: 'Gotham Rounded', 'Arial Rounded';
$font-3: 'Poppins', Arial, sans-serif;
$font-4: 'Inter', Arial, Helvetica, sans-serif;
$background-color-1: linear-gradient(90deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.24) 100%), var(--Neutral-Gray-950, #F2F4F6);
