@keyframes ldio-fytvy23xpn {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-fytvy23xpn div {
  position: absolute;
  width: 49.6px;
  height: 49.6px;
  border: 9.92px solid #03a9f4;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-fytvy23xpn div {
  animation: ldio-fytvy23xpn 1s linear infinite;
  top: 62px;
  left: 62px
}
.loadingio-spinner-rolling-6aoz6c8dma7 {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-fytvy23xpn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-fytvy23xpn div { box-sizing: content-box; }
