.l-blog-post-container {
  width: 750px;
  margin: 0 auto;
  position: relative;
  @include breakpoint(tablet) {
    width: 720px;
  }
  @include breakpoint(phone) {
    max-width: 280px;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
