.l-card-group {
  .l-card-group__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint(tablet) {
      border-bottom: none;
    }
    @include breakpoint(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  .l-card-group__pagination-container {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include breakpoint(tablet) {
      
    }
    @include breakpoint(phone) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .c-card {
    margin-bottom: 40px;
    @include breakpoint(phone) {
      margin-bottom: 40px;
    }
  }

}
