@import '/src/styles/params.scss';

.header {
  padding: 21px 0;
  box-shadow: 0px 8px 40px -20px rgba(0, 0, 0, 0.1);
  background-color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
    justify-content: space-between;

    a {
      font-family: Noto Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: $text-primary-color;
    }

    a + a {
      margin-left: 34px;
    }

    .search {
      margin-left: 64px;
    }
  }

  .button-wrap {
    flex-grow: 0;
  }
}

.main {
  background: var(--Neutral-Grey-970, rgba(248, 248, 249, 1));
}

.footer {
  background: var(--Neutral-Gray-950, rgba(242, 244, 246, 1));
  
  .container {

  }

  .caption-wrap {
    padding: 40px;
    border-bottom: 1px solid rgb(216, 223, 227);

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .navigation-wrap {
    padding: 32px 0;
    border-bottom: 1px solid rgb(216, 223, 227);
    
    .container {
      display: flex;
      justify-content: space-between;
    }

    ul {
      flex-basis: 201px;
      flex-shrink: 1;
      flex-grow: 0;
    }

    ul li {
      font-size: 0;
      line-height: 0;

      strong {
        font-size: 14px;
        line-height: 20px;
      }

      a {
        color: $text-primary-color;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
      }
    }

    ul li + li {
      margin-top: 12px;
    }
  }

  .bottom-wrap {
    padding: 24px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright-and-links {
      display: flex;
      column-gap: 28px;

      p, a {
        color: $text-secondary-color;
      }
    }

    .soc-buttons {
      display: flex;
      column-gap: 9px;
    }
  }
}
